<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Members</h1>
<table>
    <tbody>
    {{#members}}
    <tr>
        <td>Id: {{id}}</td>
        <td>Name: {{name}}</td>
    </tr>
    {{/members}}
    </tbody>
</table>
</body>
</html>