<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assn2</title>
</head>
<body>
    <h1>Member</h1>
    <ul>
        <li><a href="/add">add</a></li>
        <li><a href="/update">update</a></li>
        <li><a href="/findId">findId</a></li>
        <li><a href="/delete">delete</a></li>
        <li><a href="/all">all</a></li>
    </ul>
    <h2>{{mode}}</h2>
    <form method="post" action="/{{mode}}">
        <label>
            id
            <input type="text" name="id" value="{{id}}" />
        </label>
        <label>
            name
            <input type="text" name="name" value="{{name}}" />
        </label>
        <label>
            password
            <input type="text" name="password" value="{{password}}" />
        </label>
        <input type="submit"/>
    </form>
    <br/>
    <h3>결과 : {{msg}}</h3>


</body>
</html>