<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assn2</title>
</head>
<body>
<h1>Member</h1>
<ul>
    <li><a href="/add">add</a></li>
    <li><a href="/update">update</a></li>
    <li><a href="/findId">findId</a></li>
    <li><a href="/delete">delete</a></li>
    <li><a href="/all">all</a></li>
</ul>
<h2>List</h2>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>name</td>
    </tr>
    </thead>
    <tbody>
    {{#members}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
    </tr>
    {{/members}}
    </tbody>
</table>
</body>
</html>
