<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>

<form method="post" action="/member/new">
    <label>
        id
        <input type="text" name="id" value="{{id}}" />
    </label>
    <label>
        name
        <input type="text" name="name" value="{{name}}" />
    </label>
    <label>
        password
        <input type="text" name="password" value="{{password}}" />
    </label>
    <input type="submit"/>
</form>


</body>
</html>